.box {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: slategray;
    justify-content: center;
    align-items: center;

    #canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

#particle {
    fill: white;
}

#text {
    fill: white;
}

#center {
   fill: #ff4e2d;
}

#trail {
    fill: white;
}