.content {
    z-index: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
        padding-top: 200px;
        font-size: 3em;
        font-family: "Noto Sans", sans-serif;
    }

    app-in-progress {
        width: 100%;
        margin-top: 100px;
    }

    app-profile {
        width: 100%;
        height: 300px;
    }
}
