.content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
        padding-top: 200px;
        font-size: 3em;
        font-family: "Noto Sans", sans-serif;
    }

    h2 {
        padding-top: 300px;
    }
}

.particles {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cloud-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
