.viewport {
    position: relative;
    z-index: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            font-size: 3em;
        }

        h1 {
            text-align: center;
        }
    }

    app-scroll-icon {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

app-in-progress {
    width: 100%;
    margin-top: 100px;
}

app-profile {
    width: 100%;
    height: 300px;
}
